table,
th,
td,
tr {
  border: 2px solid black;
  padding: 30px;
}

.table {
  text-align: center;
  width: 500px;
  padding: 30px;
  margin-left: 2%;
  margin-top: 7%;
  background-color: rgba(120, 124, 209, 0.829);
}

.tabtwo-page {
  background-image: url("https://images.pexels.com/photos/1161547/pexels-photo-1161547.jpeg?auto=compress&cs=tinysrgb&dpr=2.7&h=480&w=500");
  height: 720px;
  width: 100%;
  position: absolute;
  margin-top: 0;
}

.delete {
  background-color: rgb(180, 21, 21);
  color: black;
  font-size: 20px;
  font-weight: 400;
  width: 150px;
  height: 40px;
  border-radius: 20px;
}
